<ion-view title="OAuth Registration" hide-nav-bar="true" id="page10" style="background-color:#2CF06F;">
  <ion-content padding="true" style="background: url(img/U6fMmqzT9SYc0LZq6pxh_circles-and-roundabouts.png.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div>
      <img src="img/IABke0cVTwO1dGPgBxeC_paddedIcon.png" style="display: block; width: 70%; margin-left: auto; margin-right: auto;">
    </div>
    <h2 id="oAuthRegistration-heading14" style="color:#000000;text-align:center;">Hello, User!</h2>
    <div id="oAuthRegistration-markdown24" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Last bit of info, we need to know how you intend to use our app.</p>
    </div>
    <form id="oAuthRegistration-form8" class="list">
      <h5 id="oAuthRegistration-heading4" style="color:#000000;font-weight:300;">Profile Type</h5>
      <ion-list id="oAuthRegistration-list8">
        <ion-radio id="oAuthRegistration-radio2" name="profileType">Resident</ion-radio>
        <ion-radio id="oAuthRegistration-radio3" name="profileType">Entrepreneur</ion-radio>
      </ion-list>
      <a ui-sref="entrepreneurOnboarding()" id="oAuthRegistration-button6" class="button button-balanced button-block icon-right ion-chevron-right">Continue</a>
    </form>
  </ion-content>
</ion-view>
