<ion-view title="Registration" hide-nav-bar="true" id="page13" style="background-color:#2CF06F;">
  <ion-content padding="true" style="background: url(img/U6fMmqzT9SYc0LZq6pxh_circles-and-roundabouts.png.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div>
      <img src="img/IABke0cVTwO1dGPgBxeC_paddedIcon.png" style="display: block; width: 70%; margin-left: auto; margin-right: auto;">
    </div>
    <form id="registration-form10" class="list">
      <h5 id="registration-heading11" style="color:#000000;font-weight:300;">Login Information</h5>
      <ion-list id="registration-list10">
        <label class="item item-input" id="registration-input37">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="registration-input38">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <h5 id="registration-heading12" style="color:#000000;font-weight:300;">Profile Type</h5>
      <ion-list id="registration-list11">
        <ion-radio id="registration-radio4" name="profileType">Resident</ion-radio>
        <ion-radio id="registration-radio5" name="profileType">Entrepreneur</ion-radio>
      </ion-list>
      <h5 id="registration-heading13" style="color:#000000;font-weight:300;">User Information</h5>
      <ion-list id="registration-list12">
        <label class="item item-input" id="registration-input39">
          <span class="input-label">First Name</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="registration-input40">
          <span class="input-label">Last Name</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="registration-input41">
          <span class="input-label">ZIP Code</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <a ui-sref="entrepreneurOnboarding()" id="registration-button11" class="button button-balanced button-block">Sign up</a>
      <a ui-sref="login()" id="registration-button12" class="button button-balanced button-block button-clear">Already have an account?</a>
      <div class="spacer" style="height: 40px;"></div>
    </form>
  </ion-content>
</ion-view>