<ion-view title="Resident Onboarding" hide-nav-bar="true" id="page15">
  <ion-content padding="true" style="background: url(img/eRQAvn7TA2byeNUxPPac_circles-and-roundabouts.png.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <form id="residentOnboarding-form15" class="list">
      <h2 id="residentOnboarding-heading7" style="color:#37C871;">Almost Finished...</h2>
      <div id="residentOnboarding-markdown13" class="show-list-numbers-and-dots">
        <p style="color:#000000;">To help return the best results, we just need to find out a little more information about your business!</p>
      </div>
      <label class="item item-input" id="residentOnboarding-input35">
        <span class="input-label">Name</span>
        <input type="text" placeholder="Business Name">
      </label>
      <label class="item item-select" id="residentOnboarding-select3">
        <span class="input-label">Category</span>
        <select>
          <option>Auto &amp; Motocycle</option>
          <option>Business &amp; Professional Services</option>
          <option>Computers &amp; Telecommunications</option>
          <option>Construction &amp; Building Services</option>
          <option>Education</option>
          <option>Entertainment</option>
          <option>Government</option>
          <option>Health &amp; Fitness</option>
          <option>Hospitality</option>
          <option>Legal</option>
          <option>Real Estate, Moving &amp; Storage</option>
          <option>Restaurant</option>
        </select>
      </label>
      <div class="spacer" style="width: 300px; height: 14px;"></div>
      <h5 id="residentOnboarding-heading8" style="color:#000000;font-weight:300;">Search Options</h5>
      <ion-item class="range range-balanced" id="residentOnboarding-range2">Radius
        <input type="range" value="999" min="0" max="5000" step="1">
      </ion-item>
      <label class="item item-select" id="residentOnboarding-select4">
        <span class="input-label">Architecture</span>
        <select>
          <option>Vacant Lot</option>
          <option>Office</option>
          <option>Warehouse</option>
          <option>Bar / Restaurant</option>
          <option>Factory</option>
          <option>Plaza</option>
        </select>
      </label>
      <a ui-sref="dashBoard()" id="residentOnboarding-button20" class="button button-balanced button-block icon-right ion-chevron-right">Continue</a>
    </form>
  </ion-content>
</ion-view>